body {
    display: flex;
    justify-content: center;
    align-items: center;
}

body > div, body > div > div.container {
    width:90vw;
    max-width: 750px;
}

body > div > div.container {
    margin-left: 0;
    margin-right: 0;
}

h1 {
    margin-bottom: 1.5rem;
}

.container.border {
    padding: 1em 2em;
}

body > div div {
    margin-bottom: 1em;
}

input.form-control {
    display: inline;
    max-width: 50%;
}

form .btn-primary {
    width: 7rem;
}