.hide {
    display: none;
}

.small {
    font-size: small;
}

p.error {
    color: rgba(220,53,69,255);
    font-size: small;
    margin-bottom: 0;
}

.jumbotron {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

h1 {
    margin-bottom: 1em;
}

form > .row {
    margin-bottom: 1em;
}

button {
    margin-right: 1rem;
}

#outputlist {
    display: flex;
    flex-flow: row wrap;
}

.card {
    min-width: 13.5rem;
}

.card h6 {
    margin-bottom: 0;
}

@media screen and (min-width: 1200px) {
    .card {
        margin: 1.5rem;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199.99px){
    .card {
        margin: 0.1rem;
    }
}

@media screen and (min-width: 768px) and (max-width: 991.99px){
    .card {
        margin: 0rem;
    }
}

@media screen and (max-width: 767.99px) {
    .card {
        margin: 0.5rem;
    }
}

#outputlist .card .btn-link {
    padding-left: 0;
    text-decoration: none;
}

#outputlist .card button {
    margin: 0;
}