#viewport {
    margin-top: 4em;
}

.hidden,
#viewport.usermode #table h6,
#viewport.usermode .opponent {
    display: none;
}

#viewport.devmode #table {
    margin-bottom: 15em;
}

#reminder {
    position: relative;
    top: -1.5em;
    display: flex;
    justify-content: center;
    height: 24px;
}

/* -------------- decks ------------- */

#table {
    margin-bottom: 4em;
    display: flex;
    justify-content: space-evenly;
}

.playerDeck {
    padding: 1em;
}

.playerDeck.user {
    position: fixed;
    bottom: 0;
    width: 100%;
}

#aDeck {
    margin: 3em;
    margin-top: 10em;
}

.playerDeck .deckContainer {
    display: flex;
    /*justify-content: center;*/

    padding: 1.5em;
    padding-right: 3em;
    margin-right: 11em;
}

.user .deckContainer {
    overflow-x: auto;
    overflow-y: hidden;
}

.card {
    height: 150px;
    /* width: 90px; */
}

#tDeck .card {
    height: 120px;
    display: inline; /* override the .hidden class */
}

/* -------------- avatar ------------- */

#cardCounter, #avatarContainer {
    display: flex;
    justify-content: center;
}

#cardCounter p {
    margin: 0;
}

.circle {
    color: white;

    border-radius: 50%;
    /* background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0)); */
    height: 30px;
    width: 30px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#pcAvatar img {
    height: 15em;
}

#avatarContainer {
    height: 240px;
}

#avatarContainer > img {
    position: absolute;
}

/* -------- card draw button -------- */

#drawButton {
    position: relative;
    border: none;
    background-color: transparent;
}

#drawButton img {
    width: 180px;
    position: absolute;
    left: -6em;
    bottom: 0;
}

.gif {
    display: none;
}

#drawButton:hover > .gif {
    display: inline;
}

.sprite, #drawButton:active > .sprite {
    display: inline;
}

/* ------- userDeck background ------- */

.playerDeck.user {
    background-color: rgba(169, 169, 169, 0.5);
}

.playerDeck div {
    padding: 10px;
}

.cover {
    background-color: rgba(255, 255, 255, 0.5);
    position: fixed;
    width: 100vw;
    height: 100vh;
}

.playerDeck .deckCover {
    margin: -1.5rem -1em;
    padding: 7em;
    height: 100%;
}

/* ------- color select window ------- */

.window {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    height: 70%;
}

#colorSelect {
    height: 100%;
}

#redSelect {
    position: absolute;
    height: 31.6%;
    top: 20.1%;
    left: 14%;
}

#blueSelect {
    position: absolute;
    height: 31.8%;
    top: 20%;
    left: 47.2%;
}

#greenSelect {
    position: absolute;
    height: 28.3%;
    top: 51.8%;
    left: 33.4%;
}

#yellowSelect {
    position: absolute;
    height: 26.7%;
    top: 51.7%;
    left: 11%;
}

/* ------------- history ------------- */

#buttonContainer {
    position: absolute;
    top: 25px;
    right: 150px;
}

#actionsHistory {
    position: fixed;
    top: 25px;
    /* right: 106px; */

    height: 292px;
    width: 144px;
}

#historyBackground, #historyBtn, .entryBackground {
    position: absolute;
}

#actionsHistory {
    position: absolute;
    top: 0;
    right: -20px;
}

#actionsHistory.closed #entryList {
    display: none;
}

#historyBtn {
    height: 56px;
    left: 44px;
}

@media screen and (max-width: 649px) {
    #actionsHistory {
        top: 90px;
        left: 0;
    }
}

#historyBackground {
    height: 292px;
}

#entryList {
    position: absolute;
    top: 77px;
    margin-left: 12px;

    max-height: 190px;
    overflow-y: auto;
}

/* Hide scrollbar for Chrome, Safari and Opera */
#entryList::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#entryList {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.entry {
    margin-bottom: 6px;
    color: black;
}

.entry, .entryBackground {
    width: 120px;
    height: 48px;
}

.entryText {
    position: relative;
    top: 4px;
    right: 4px;
    
    display: flex;
    justify-content: right;
    align-items: center;
}

.entryText span {
    margin-right: 3px;
}

.entryText img.card {
    position: static;
    height: 40px;
}

#pauseBtn {
    position: absolute;
    height: 56px;
    left: 44px;
}

#uno {
    position: fixed;
    right: 2em;
    bottom: 4.5em;
}

#unoBtn {
    height: 96px;
}

/* ----------- pause screen ---------- */

#pauseScreen {
    /* background-color: rgba(255, 255, 255, 0.5); */
    position: fixed;
    width: 80%;
}

#screenBackground, #settingsForm {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#screenBackground {
    width: 100%;
}

#settingsForm {
    width: 86%;
}

#settingsForm p {
    margin: 0;
}

#settingsForm input {
    margin-bottom: 2em;
}

@media screen and (min-width: 1200px) {
    #settingsForm {
        font-size: larger;
    }
}

@media screen and (min-width: 950px) and (max-width: 1199px) {
    #settingsForm {
        font-size: medium;
    }
}

@media screen and (min-width: 800px) and (max-width: 949px) {
    #settingsForm {
        font-size: small;
    }
}

@media screen and (min-width: 650px) and (max-width: 799px) {
    #settingsForm {
        font-size: x-small;
    }
}

@media screen and (max-width: 649px) {
    #settingsForm {
        font-size: 50%;
    }

    #pauseScreenButtons {
        position: absolute;
        flex-direction: column;
        top: 2em;
        right: -17em;
    }
}

#pauseScreenContainer {
    width: 100%;
}

#pauseScreenButtons {
    display: flex;
    justify-content: center;
    margin-left: -2.6em;
}

#pauseScreenButtons img {
    padding: 1em 0.5em;
    width: 30%;
}

#pauseCover {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
}