#viewport {
    margin-top: 5em;
}

#viewport.devmode #aDeck {
    /* display: block; */
    display: none;
}

.hidden,
#viewport.usermode #aDeck,
#viewport.usermode #table h6,
#viewport.usermode .opponent {
    display: none !important;
}

#viewport.devmode #table {
    margin-bottom: 15em;
}

/* -------------- decks ------------- */

#table {
    margin-bottom: 4em;
    display: flex;
    justify-content: space-evenly;
}

.playerDeck {
    padding: 1em;
}

.playerDeck.user {
    position: fixed;
    bottom: 0;
    width: 100%;
}

#aDeck {
    margin: 3em;
    margin-top: 10em;
}

.playerDeck .deckContainer {
    display: flex;
    /*justify-content: center;*/

    padding: 1.5em;
    padding-right: 3.5em;
}

.user .deckContainer {
    overflow-x: auto;
}

#cardCounter, #pcAvatar {
    display: flex;
    justify-content: center;
}

#cardCounter p {
    margin: 0;
}

.circle {
    color: white;

    border-radius: 50%;
    /* background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0)); */
    height: 30px;
    width: 30px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#pcAvatar img {
    height: 15em;
}

/* Hide scrollbar (for multiple browsers) */
/*
.user .deckContainer {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.user .deckContainer::-webkit-scrollbar {
    display: none;
}
*/
/* -------- card draw button -------- */

#drawButton {
    position: relative;
    border: none;
    background-color: transparent;
}

#drawButton img {
    width: 180px;
    position: absolute;
    left: -6em;
    bottom: 0;
}

.gif {
    display: none;
}

#drawButton:hover > .gif {
    display: inline;
}

.sprite, #drawButton:active > .sprite {
    display: inline;
}

/* ------- userDeck background ------- */

.playerDeck.user {
    background-color: rgba(169, 169, 169, 0.5);
}

.playerDeck div {
    padding: 10px;
}

.playerDeck .deckCover {
    background-color: rgba(255, 255, 255, 0.5);

    position: fixed;
    margin: -1.5rem -1em;
    width: 100%;
    padding: 7em;
}

/* ------- color select window ------- */

.window {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    height: 100%;
}

#colorSelect {
    height: 100%;
}

#redSelect {
    position: absolute;
    height: 31.6%;
    top: 20.1%;
    left: 14%;
}

#blueSelect {
    position: absolute;
    height: 31.8%;
    top: 20%;
    left: 47.2%;
}

#greenSelect {
    position: absolute;
    height: 28.3%;
    top: 51.8%;
    left: 33.4%;
}

#yellowSelect {
    position: absolute;
    height: 26.7%;
    top: 51.7%;
    left: 11%;
}