#viewport.devmode #aDeck {
    display: block;
}

.hidden, #viewport.usermode #aDeck, #viewport.usermode #table h6 {
    display: none !important;
}

#viewport.usermode #table {
    display: flex;
    justify-content: space-evenly;
}

#table {
    margin-bottom: 4em;
}

.playerDeck {
    padding: 1.5em 1em;
}

#aDeck {
    margin: 3em;
    margin-top: 10em;
}

/* -------- card draw button -------- */

#drawButton {
    border: none;
    background-color: transparent;
}

#drawButton img {
    position: absolute;
    width: 180px;
}

.gif {
    display: none;
}

#drawButton:hover > .gif {
    display: inline;
}

.sprite, #drawButton:active > .sprite {
    display: inline;
}

/* ------- userDeck background ------- */

.playerDeck.user {
    background-color: rgba(169, 169, 169, 0.5);
}

.playerDeck div {
    padding: 10px;
}

.playerDeck .deckCover {
    background-color: rgba(255, 255, 255, 0.5);

    position: fixed;
    margin: -1.5rem -1em;
    width: 100%;
    padding: 7em;

    /* z-index: 3; !!!!!!!!!!!!!!!!!!!!? */
}

/* ------- color select window ------- */

.window {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    height: 100%;

    /*
    display: flex;
    justify-content: center;
    */
}

#colorSelect {
    /*
    position: absolute;
    top: 50%;
    left: 50%;
    transition: transform 0.2s; 
    transform: translate(-50%, -50%);
    */
    height: 100%;
}

#redSelect {
    position: absolute;
    height: 31.6%;
    top: 20.1%;
    left: 14%;
}

#blueSelect {
    position: absolute;
    height: 31.8%;
    top: 20%;
    left: 47.2%;
}

#greenSelect {
    position: absolute;
    height: 28.3%;
    top: 51.8%;
    left: 33.4%;
}

#yellowSelect {
    position: absolute;
    height: 26.7%;
    top: 51.7%;
    left: 11%;
}