.card {
    transition: transform 0.2s;
}

.playerDeck.user .card:hover {
    transform: scale(1.3);
}

@keyframes slideDown {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(600px);
    }
}

@keyframes slideUp {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-600px);
    }
}

.playerDeck.user .animationSlideDown {
    animation: slideDown 0.9s;
}

.playerDeck.opponent .animationSlideDown {
    animation: slideUp 0.9s;
}